!!!
html
  head
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    script(type="text/javascript", src="js/angular.js")
    script(type="text/javascript", src="js/app.js")
  body(ng-app)
    section(ng-controller="MyController as nhl")
      select(ng-model="team" ng-change="change()" ng-options="team.name for team in teams")
      hr
      h1 {{ team.name }}
      table(ng-repeat="player in players")
        tr
          td: strong {{ player.sweater }}
          td {{ player.name }}
          td G {{ player.goals }}
          td A {{ player.assists }}
          td P {{ player.points }}
