!!!
html
  head
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    script(type="text/javascript", src="js/angular.js")
    script(type="text/javascript", src="js/app.js")
  body(ng-app)
    section(ng-controller="MyController as nhl")
      select(ng-model="team" ng-change="change()" ng-options="team.name for team in teams")
      select(ng-model="season" ng-change="change()" ng-options="season.years for season in seasons")
      hr
      h1 {{ team.name }}
      .player(ng-repeat="player in players")
        h5 {{ player.name }}
        pre {{ player }}
